*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding:8px  15px;}

input{
border:none;    
width:600px;
padding: 3px 10px;}

button{
    border:none;
    padding: 10px;}

nav{
    margin-top: 10px;
    margin-right: 10px;
    }
nav h4{
    padding: 5px 15px;
    color:grey;}    
nav p{
    margin-left: 15px;
    font-size: 12px;
    color: grey;}    
nav img{
    margin-left: 15px;
    margin-right:15px ;
    height: 30px;
    width: 30px;
    display: inline-block;}
   
nav .material-icons{   
padding: 0 15px;}

main nav a{
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    color:black;}
main nav a:hover{
background-color: rgb(229, 229, 229);} 

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;}  

header .flex{
    align-items: center;}
    
.main{
    width:82%;}

.linkbuttons{
    padding: 10px 20px;}    

.linkbuttons a{
display: inline-block;   
text-decoration: none;
font-size: 15px;
padding: 5px 10px;
margin-right: 10px;
border-radius: 13px; 
color: black;
background-color:rgb(229, 229, 229);
border: 1px solid lightgrey;}   

.linkbuttons a:hover{
color: white;
background-color: black;}

.videos{
    padding:15px 20px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;}

.videos img{
display: block;}

.play{
    margin-bottom: 30px;}

.play h4{
    margin-bottom: 7px;}    
.play a{
    text-decoration: none;
    color: grey;
    font-size: 14px;}    

.rightitems{
    align-self: center;}    

.rightitems i{
    margin-left: 20px;}

.middleitems{
    display: flex;
    align-items: center;}
 
.flex{
    display: flex;}
.large{

    height: 150px;
    width: 300px;
    margin-bottom: 10px;}

.size{
    height:30px;
    width: 30px;
    margin-right: 10px;}